* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light_green: #effffa;
$dark_green: #14da8f;
$black: #000000;
$white: #fff;
$light_grey: #dadada;

a {
  text-decoration: none;
  color: #4d4d4d;
}

button {
  border: none;
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow-x: hidden;
}

h2 {
  font-size: 1.8vw;
  font-weight: 600;
  margin-top: 20px;
  line-height: 1.5;
  overflow: hidden;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0px auto;
}

.team_header {
  @extend .dflex;
  justify-content: space-between;
}

.team {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.team_card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  background-color: #fbf9f9;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
    top: -5px;
  }
}

.team_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.team_pic img {
  height: 44px;
  width: 44px;
  border-radius: 100%;
}

.team_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4px;
}

.team_card > div {
  margin: 0 20px;
}

.slick-prev::before,
.slick-next::before {
  box-shadow: 10px 5px 5px red;
  color: #14da8f;
}

.survey_header {
  margin-top: 60px;
  margin-bottom: 30px;
}

.survey {
  width: 90%;
  margin: auto;
}

.survey_items {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-auto-rows: 1fr; */
}

.survey_item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.survey_image {
  position: relative;
  padding: 0px 0px 90% 0px;
  margin: 0px 0px 20px 0px;
}
.survey_image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.survey_name {
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 10px 0px;
}

.user_button {
  padding: 0.4em 1em;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0.5em;
  background-color: $white;
  color: #4d4d4d;
  outline: 2px solid $dark_green;
  text-align: center;
}

.survey_email,
.survey_review {
  width: 90%;
  margin: 0 auto;
  color: #919191;
}

.team_name_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.survey_title_go {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.survey_go {
  padding: 2px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  margin: 9px;
  border-radius: 0.1em;
}

.survey_go:hover {
  background-color: #c6c6c6;
}
