$light_green: #effffa;
$dark_green: #14da8f;
$black: #000000;
$white: #fff;
$light_grey: #dadada;

.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    > form {
        display: grid;
        gap: 1em;
        width: 500px;
        font-size: 1.25rem;

        > * {
            outline: 2px solid silver;
            padding: 1em;
            border-radius: .5em;
        }

        button[type=submit] {
            border-radius: 0.5em;
            background-color: $white;
            color: $black;
            outline: 2px solid $dark_green;
            text-align: center;

            transition: all 0.3s ease-in-out;

            position: relative;
          
            &:hover {
              box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -10px;
              cursor: pointer;
              top: -1px;
            }
        }
    }
}