* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light_green: #effffa;
$dark_green: #14da8f;
$black: #000000;
$white: #fff;
$light_grey: #dadada;

a {
  text-decoration: none;
  color: #4d4d4d;
}

button {
  border: none;
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.survey {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.survey_items {
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.survey_item {
  width: 350px;
}
.survey_image {
}
.survey_image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.survey_desc {
  margin-bottom: 20px;
}

.survey_name {
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 10px 0px;
}

.survey_email,
.survey_review {
  /* margin: 0 auto; */
  color: #919191;
}

.app {
  width: 100%;
  /* height: 100vh; */
  /* background-image: url("https://binarydebt.files.wordpress.com/2018/12/linux-kernel-symbols.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
}

.input_group {
  /* width: 30%; */
  height: 50px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 8px;
}

.input_group i {
  font-size: 30px;
  color: rgb(157, 165, 178);
}
.input_group input {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(184, 184, 184);
  outline: none;
  color: rgb(157, 165, 178);
  font-size: 17px;
}

.input_group button {
  outline: 2px solid $dark_green;
  cursor: pointer;
}

/* .copy {
  background-color: rgb(77, 144, 253);
} */
/* .copied {
  background-color: rgb(39, 196, 82);
} */

.copy {
  padding: 0.4em 1em;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0.5em;
  background-color: $white;
  outline: 2px solid $dark_green;
  text-align: center;
  background-color: rgb(255, 255, 255);

  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -10px;
    cursor: pointer;
    top: -1px;
  }
}

.copied {
  padding: 0.4em 1em;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0.5em;
  background-color: $white;
  outline: 2px solid $dark_green;
  text-align: center;
  background-color: rgba(176, 243, 194, 0.321);

  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -10px;
    cursor: pointer;
    top: -1px;
  }
}
