/* @import url("https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

$light_green: #effffa;
$dark_green: #14da8f;
$black: #000000;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: #4d4d4d;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Rubik", sans-serif;
  color: #4d4d4d;
}

img {
  border-radius: 0.5em;
}
